---
import { t } from "i18next";
import Button from "../components/button.astro";
---

<section class="mt-20 text-center">
  <h1 class="text-3xl mb-10 font-mono">{t("contact.slogan")}</h1>
  <p>{t("contact.text1")}<span class="color-primary-500">{t("contact.state")}</span>.</p>
  <p>{t("contact.text2")}</p>
  <div class="mt-6 space-x-5 text-center">
    <Button
      label="Github"
      icon="ri-github-fill"
      url="https://github.com/Thomas-Martins"
      className="color-white bg-primary-500 rounded-lg px-3 py-2"
    />
    <Button
      label="LinkedIn"
      icon="ri-linkedin-box-fill"
      url="https://www.linkedin.com/in/thomasmartinsdev/"
      className="color-white bg-primary-500 rounded-lg px-3 py-2"
    />
    <Button label="Email" icon="ri-mail-send-line" url="/contact" className="color-white bg-primary-500  rounded-lg px-3 py-2" />
  </div>
</section>
