---
import { t } from "i18next";
---

<section id="about-section" class="mt-20">
  <div class="flex items-center">
    <h1 class="flex-none section-label px-3 py-1.5 rounded-lg md:text-lg lg:text-2xl">⚡️<span class="font-mono">{t("about.title")}</span></h1>
    <span class="label-decoration h-0.5 w-full"></span>
  </div>
  <div class="mt-10 lg:text-lg">
    <p class="mb-5">{t("about.description.part1")}</p>
    <p>{t("about.description.part2")}</p>
    <p>{t("about.description.part3")}</p>
    <p>
      {t("about.description.part4.1")}
      <span class="color-primary-500 cursor-help" aria-label={t("about.aria-label.dev")}>{t("about.description.keyword.dev")}</span>{
        t("about.description.part4.2")
      }
      {
        t("link.home") === "Accueil" ? (
          <span class="color-primary-500 cursor-help" aria-label={t("about.aria-label.open-source")}>
            Open source
          </span>
        ) : (
          <span class="color-primary-500 cursor-help" aria-label={t("about.aria-label.open-source")}>
            Open Source Projects
          </span>
        )
      }
      .
    </p>
  </div>
  <p class="mt-10">{t("about.hobbies")}</p>
</section>
