---
import { t } from "i18next";
import Button from "./common/button.astro";
---

<section id="contact-section" class="mt-20 text-center lg:mt-50">
  <div>
    <h1 class="text-3xl mb-10 font-sans font-bold md:text-5xl">{t("contact.slogan")}</h1>
  </div>
  <div>
    <p>{t("contact.text1")}<span class="color-primary-500">{t("contact.state")}</span>.</p>
    <p>{t("contact.text2")}</p>
  </div>
  <div class="grid grid-cols-1 mt-6 space-y-5 text-center md:mt-10 md:block md:space-x-5">
    <Button
      label="LinkedIn"
      icon="ri-linkedin-box-fill"
      url="https://www.linkedin.com/in/thomasmartinsdev/"
      className="bg-dark-700 hover:bg-dark-600 duration-400"
    />
    <Button label={t("contact.cv")} icon="ri-file-text-fill" url="/thomas-martins.pdf" className="bg-dark-700 hover:bg-dark-600 duration-400" />
    <Button label="Email" icon="ri-mail-send-line" url="mailto:contact@thomas-martins.dev" className="bg-dark-700 hover:bg-dark-600 duration-400" />
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const elements = document.querySelectorAll("#contact-section");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting && entry.intersectionRatio >= 0.2) {
            entry.target.classList.add("fade-in-up");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 0.2,
      }
    );

    elements.forEach((element) => {
      observer.observe(element);
    });
  });
</script>
