---

---

<footer class="text-center w-full">
  <div class="relative mt-30 lg:mt-50">
    <p class="font-mono">Designed and Developed by <a class="underline" href="https://twitter.com/thomasmtsdev">Thomas Martins</a></p>
    <p class="font-mono">Built with <span class="color-primary-500">AstroJs</span>. Hosted on <span class="color-primary-500">Cloudflare</span>.</p>
    <p class="font-mono">Copyright © 2024</p>
  </div>
  <div class="rotate-180 absolute -z-10 left-0 -mt-60 sm:-mt-85 md:-mt-110 lg:-mt-150 xl:-mt-210 2xl:-mt-200">
    <img class="w-screen h-auto svg-filter" src="https://svgsilh.com/svg/746402.svg" alt="backgrounnd-svg" />
  </div>
</footer>
