---
import DesktopMenu from "./common/desktop-menu.astro";
import MobileMenu from "./common/mobile-menu.astro";
---

<header id="header" class="w-full">
  <div class="absolute -z-10 top-0 left-0">
    <img class="w-screen h-auto svg-filter" src="https://svgsilh.com/svg/746402.svg" alt="background-svg" />
  </div>
  <DesktopMenu />
  <MobileMenu />
</header>
