---
import { t } from "i18next";
import ProjectsCard from "./common/projects-card.astro";

const projects = await Astro.glob("../projects/*.json");
---

<section id="project-section" class="mt-20">
  <div id="project-intro" class="mt-5 flex flex-col gap-10 md:grid md:grid-cols-2">
    <div>
      <div id="project-div" class="flex items-center">
        <h1 class="flex-none section-label px-3 py-1.5 rounded-lg md:text-lg lg:text-2xl">
          🛠️ <span class="font-mono">{t("projects.section.title")}</span>
        </h1>
        <span class="label-decoration h-0.5 w-full"></span>
      </div>
      <div class="mt-5 lg:text-xl">
        <p class="mb-5">{t("projects.section.description")}</p>
        <a href="/projects" class="!color-primary-500">{t("projects.section.link")} <i class="ri-arrow-right-line !color-primary-500"></i></a>
      </div>
    </div>
    {
      projects.slice(0, 3).map((project, index) => (
        <div id="project-div" class={`${index == 1 ? "md:-mt-50" : ""}`}>
          <ProjectsCard
            title={t("link.home") === "Accueil" ? project.fr?.title : project.en?.title}
            tags={project.tags}
            description={t("link.home") === "Accueil" ? project.fr?.description : project.en?.description}
            imageUrl={project.imageUrl}
            githubUrl={project.githubUrl}
            url={project.url}
          />
        </div>
      ))
    }
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const elements = document.querySelectorAll("[id^='project-card'], #project-intro");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting && entry.intersectionRatio >= 0.1) {
            entry.target.classList.add("fade-in-up-custom");
            observer.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.1 }
    );

    elements.forEach((element) => {
      observer.observe(element);
    });
  });
</script>
