---
const { label, icon, url } = Astro.props;
---

<a href={url} class="rounded-lg px-5 py-2 btn-color text-center">
  <i class={`${icon} bg-transparent ri-lg !color-primary-500 `}></i>
  {label}
</a>
