---
import { t } from "i18next";
import ThemeToggle from "../components/theme-toggle.astro";
---

<header class="w-full">
  <div class="absolute -z-10 top-0 left-0">
    <img class="w-screen h-auto svg-filter" src="https://svgsilh.com/svg/746402.svg" alt="" />
  </div>
  <nav class="flex items-center justify-between p-4 relative">
    <div>
      <h1 class="font-mono font-bold text-5xl logo-color">&#60;<span class="font-mono">TM</span>/&#62;</h1>
    </div>
    <div class="space-x-5">
      <a href="/">{t("link.home")}</a>
      <a href="/projects">{t("link.projects")}</a>
      <ThemeToggle />
    </div>
  </nav>
</header>
